@import url("https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
/* 1. Theme default css */
@import url("https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
/* line 5, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
body {
  font-family: "Muli", sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 16, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 20, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

/* line 25, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
a:focus {
  text-decoration: none;
}

/* line 28, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

/* line 34, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
a,
button {
  color: #1F1F1F;
  outline: medium none;
}

/* line 39, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
  color: #1F1F1F;
}

/* line 43, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

/* line 52, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
ul {
  margin: 0px;
  padding: 0px;
}

/* line 56, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
li {
  list-style: none;
}

/* line 59, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #727272;
  margin-bottom: 13px;
  font-family: "Muli", sans-serif;
}

/* line 68, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

/* line 74, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 79, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 84, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 89, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 94, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 99, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 104, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 110, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
h3 {
  font-size: 24px;
}

/* line 114, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.mb-70 {
  margin-bottom: 73px;
}

@media (max-width: 767px) {
  /* line 114, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
  .mb-70 {
    margin-bottom: 30px;
  }
}

/* line 121, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.black-bg {
  background: #020c26 !important;
}

/* line 125, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.white-bg {
  background: #ffffff;
}

/* line 128, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.gray-bg {
  background: #f5f5f5;
}

/* line 144, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.overlay {
  position: relative;
  z-index: 0;
}

/* line 148, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.overlay::before {
  position: absolute;
  content: "";
  background-color: #1F1F1F;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .8;
}

/* line 160, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.overlay2 {
  position: relative;
  z-index: 0;
}

/* line 164, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.overlay2::before {
  position: absolute;
  content: "";
  background-color: #2C2C2C;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
}

/* line 176, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.overlay_03 {
  position: relative;
  z-index: 0;
}

/* line 180, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.overlay_03::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #2C2C2C;
  opacity: .6;
  content: '';
  z-index: -1;
}

/* line 213, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* line 217, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.pt-120 {
  padding-top: 120px;
}

/* button style */
/* line 223, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div {
  background: transparent;
  height: 40px;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 40px;
  color: #FFFFFF;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 50px;
  font-size: 15px;
  line-height: 40px;
  border: 1px solid #8E8B8B;
  left: 150px;
}

/* line 250, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 150px;
}

/* line 255, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
}

/* line 262, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  top: 0px;
}

/* line 272, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}

/* line 275, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.owl-carousel:hover .owl-nav div:hover {
  color: #fff;
  background: #615CFD;
  border: 1px solid transparent;
}

/* line 285, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.mb-20px {
  margin-bottom: 20px;
}

/* line 289, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.mb-55 {
  margin-bottom: 55px;
}

/* line 292, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.mb-40 {
  margin-bottom: 40px;
}

/* line 295, ../../Arafath/CL/December/233. Startup/HTML/scss/theme-default.scss */
.mb-20 {
  margin-bottom: 20px;
}

/* line 1, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn {
  background: #fff;
  color: #131313;
  display: inline-block;
  padding: 14px 44px;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  border: 1px solid #615CFD;
  text-align: center;
  color: #615CFD !important;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 16, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn:hover {
  background: #615CFD;
  color: #fff !important;
  border: 1px solid #615CFD;
}

/* line 21, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn:focus {
  outline: none;
}

/* line 24, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn.large-width {
  width: 220px;
}

/* line 28, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn3 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0181f5+0,5db2ff+100 */
  background: #615CFD;
  color: #fff;
  display: inline-block;
  padding: 12px 33px;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border: 1px solid transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

/* line 45, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn3:hover {
  border: 1px solid #615CFD;
  color: #615CFD !important;
  background: transparent;
}

/* line 50, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn3:focus {
  outline: none;
}

/* line 53, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn3.large-width {
  width: 220px;
}

/* line 57, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn4 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0181f5+0,5db2ff+100 */
  background: #615CFD;
  color: #fff;
  display: inline-block;
  padding: 14px 27px;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}

/* line 76, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn4:hover {
  background: #615CFD;
  color: #fff !important;
}

/* line 81, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn4:focus {
  outline: none;
}

/* line 84, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn4.large-width {
  width: 220px;
}

/* line 89, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn3-white {
  color: #fff;
  display: inline-block;
  padding: 13px 27px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}

/* line 106, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn3-white:hover {
  background: #28AE61;
  color: #fff !important;
  border: 1px solid transparent;
}

/* line 111, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn3-white i {
  margin-right: 2px;
}

/* line 114, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn3-white:focus {
  outline: none;
}

/* line 117, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn3-white.large-width {
  width: 220px;
}

/* line 122, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn3-green-2 {
  color: #615CFD !important;
  display: inline-block;
  padding: 14px 31px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #615CFD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
}

/* line 138, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn3-green-2:hover {
  background: #615CFD;
  color: #fff !important;
  border: 1px solid transparent;
}

/* line 143, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn3-green-2:focus {
  outline: none;
}

/* line 146, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn3-green-2.large-width {
  width: 220px;
}

/* line 150, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn2 {
  background: transparent;
  color: #fff;
  display: inline-block;
  padding: 18px 24px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* line 162, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn2:hover {
  background: #fff;
  color: #131313 !important;
}

/* line 166, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.boxed-btn2:focus {
  outline: none;
}

/* line 170, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.line-button {
  color: #919191;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  padding-right: 5px;
  padding-bottom: 2px;
}

/* line 178, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.line-button::before {
  position: absolute;
  content: "";
  background: #919191;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

/* line 187, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.line-button:hover {
  color: #009DFF;
}

/* line 190, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.line-button:hover::before {
  background: #009DFF;
}

/* line 194, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.line_btn {
  display: inline-block;
  font-size: 15px;
  color: #615CFD;
  border: 1px solid #615CFD;
  text-transform: capitalize;
  padding: 13px 34px;
  font-weight: 600;
}

/* line 202, ../../Arafath/CL/December/233. Startup/HTML/scss/_btn.scss */
.line_btn:hover {
  background: #615CFD;
  color: #fff;
}

/* line 3, ../../Arafath/CL/December/233. Startup/HTML/scss/_section_title.scss */
.section_title span {
  position: relative;
  z-index: 3;
  font-size: 14px;
  font-weight: 500;
  color: #615CFD;
  text-transform: capitalize;
  margin-bottom: 10px;
  display: block;
  font-family: "Roboto", sans-serif;
}

/* line 14, ../../Arafath/CL/December/233. Startup/HTML/scss/_section_title.scss */
.section_title h3 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  color: #1F1F1F;
  position: relative;
  z-index: 0;
  padding-bottom: 5px;
}

@media (max-width: 767px) {
  /* line 14, ../../Arafath/CL/December/233. Startup/HTML/scss/_section_title.scss */
  .section_title h3 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 14, ../../Arafath/CL/December/233. Startup/HTML/scss/_section_title.scss */
  .section_title h3 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {
  /* line 31, ../../Arafath/CL/December/233. Startup/HTML/scss/_section_title.scss */
  .section_title h3 br {
    display: none;
  }
}

/* line 37, ../../Arafath/CL/December/233. Startup/HTML/scss/_section_title.scss */
.section_title p {
  font-size: 16px;
  color: #727272;
  line-height: 28px;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {
  /* line 43, ../../Arafath/CL/December/233. Startup/HTML/scss/_section_title.scss */
  .section_title p br {
    display: none;
  }
}

/* line 51, ../../Arafath/CL/December/233. Startup/HTML/scss/_section_title.scss */
.section_title.white_text h3 {
  color: #fff;
}

/* line 54, ../../Arafath/CL/December/233. Startup/HTML/scss/_section_title.scss */
.section_title.white_text span {
  color: #fff;
  padding-top: 0;
}

/* line 57, ../../Arafath/CL/December/233. Startup/HTML/scss/_section_title.scss */
.section_title.white_text span:before {
  display: none;
}

/* line 63, ../../Arafath/CL/December/233. Startup/HTML/scss/_section_title.scss */
.mb-50 {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  /* line 63, ../../Arafath/CL/December/233. Startup/HTML/scss/_section_title.scss */
  .mb-50 {
    margin-bottom: 40px;
  }
}

/* line 69, ../../Arafath/CL/December/233. Startup/HTML/scss/_section_title.scss */
.mb-90 {
  margin-bottom: 90px;
}

@media (max-width: 767px) {
  /* line 69, ../../Arafath/CL/December/233. Startup/HTML/scss/_section_title.scss */
  .mb-90 {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  /* line 4, ../../Arafath/CL/December/233. Startup/HTML/scss/_slick-nav.scss */
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9;
  }
}

/* line 13, ../../Arafath/CL/December/233. Startup/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11px;
}

/* line 28, ../../Arafath/CL/December/233. Startup/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #5DB2FF;
}

/* line 32, ../../Arafath/CL/December/233. Startup/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav a.active {
  color: #5DB2FF;
}

@media (max-width: 767px) {
  /* line 35, ../../Arafath/CL/December/233. Startup/HTML/scss/_slick-nav.scss */
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 35, ../../Arafath/CL/December/233. Startup/HTML/scss/_slick-nav.scss */
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

/* line 44, ../../Arafath/CL/December/233. Startup/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav .slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  border: 1px solid #ddd;
  top: 3px;
  right: 5px;
  top: -36px;
}

.header-text {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 78px;
  font-weight: 400;
  line-height: 84px;
  margin-bottom: 54px;
}

/* line 55, ../../Arafath/CL/December/233. Startup/HTML/scss/_slick-nav.scss */
.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
}

@media (max-width: 767px) {
  /* line 12, ../../Arafath/CL/December/233. Startup/HTML/scss/_slick-nav.scss */
  .slicknav_menu {
    margin-right: 0px;
  }
}

/* line 72, ../../Arafath/CL/December/233. Startup/HTML/scss/_slick-nav.scss */
.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}

/* line 78, ../../Arafath/CL/December/233. Startup/HTML/scss/_slick-nav.scss */
.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -29px;
  right: 5px;
}

/* line 112, ../../Arafath/CL/December/233. Startup/HTML/scss/_gallery.scss */
.mt-50 {
  margin-top: 50px;
}

@media (max-width: 767px) {
  /* line 112, ../../Arafath/CL/December/233. Startup/HTML/scss/_gallery.scss */
  .mt-50 {
    margin-top: 30px;
  }
}

/* line 118, ../../Arafath/CL/December/233. Startup/HTML/scss/_gallery.scss */
.mb-50 {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  /* line 118, ../../Arafath/CL/December/233. Startup/HTML/scss/_gallery.scss */
  .mb-50 {
    margin-bottom: 30px;
  }
}

/* line 1, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 6, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
.footer .footer_top {
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 10px;
  background: #1F1F1F;
}

@media (max-width: 767px) {
  /* line 6, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
  .footer .footer_top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 6, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
  .footer .footer_top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 6, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
  .footer .footer_top {
    padding-top: 50px;
    padding-bottom: 15px;
  }
}

@media (max-width: 767px) {
  /* line 22, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
  .footer .footer_top .menu_links {
    margin-top: 15px;
  }
}

/* line 27, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
.footer .footer_top .menu_links ul li {
  display: inline-block;
  margin-right: 46px;
}

@media (max-width: 767px) {
  /* line 27, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
  .footer .footer_top .menu_links ul li {
    margin-right: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 27, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
  .footer .footer_top .menu_links ul li {
    margin-right: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 27, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
  .footer .footer_top .menu_links ul li {
    margin-right: 30px;
  }
}

/* line 39, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
.footer .footer_top .menu_links ul li a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

/* line 43, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
.footer .footer_top .menu_links ul li a:hover {
  color: #615CFD;
}

/* line 51, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
.footer .copy-right_text {
  padding-bottom: 15px;
  background: #1F1F1F;
}

/* line 54, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
.footer .copy-right_text .footer_border {
  padding-bottom: 15px;
  border-top: 1px solid #363636;
}

/* line 58, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
.footer .copy-right_text .copy_right {
  font-size: 15px;
  color: #C9C9C9;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {
  /* line 58, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
  .footer .copy-right_text .copy_right {
    font-size: 13px;
  }
}

/* line 66, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
.footer .copy-right_text .copy_right a {
  color: #615CFD;
}

/* line 71, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
.footer .socail_links {
  text-align: right;
}

@media (max-width: 767px) {
  /* line 71, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
  .footer .socail_links {
    text-align: left;
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 71, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
  .footer .socail_links {
    text-align: center;
    margin-top: 30px;
  }
}

/* line 85, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
.footer .socail_links ul li {
  display: inline-block;
}

/* line 88, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
.footer .socail_links ul li a {
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 40px !important;
  margin-right: 7px;
  color: #E7F9F9;
  line-height: 40px !important;
  border: 1px solid #E7F9F9;
  font-size: 14px;
}

/* line 102, ../../Arafath/CL/December/233. Startup/HTML/scss/_footer.scss */
.footer .socail_links ul li a:hover {
  color: #fff !important;
  background: #615CFD;
  border: 1px solid #615CFD;
}

/* line 203, ../../Arafath/CL/December/233. Startup/HTML/scss/_bradcam.scss */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #000000;
  opacity: .7;
}

/*=================== contact banner start ====================*/
/* line 3, ../../Arafath/CL/December/233. Startup/HTML/scss/_contact.scss */
.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 85, ../../Arafath/CL/December/233. Startup/HTML/scss/_elements.scss */
b,
sup,
sub,
u,
del {
  color: #ff5e13;
}

/* line 93, ../../Arafath/CL/December/233. Startup/HTML/scss/_elements.scss */
h1 {
  font-size: 36px;
}

/* line 97, ../../Arafath/CL/December/233. Startup/HTML/scss/_elements.scss */
h2 {
  font-size: 30px;
}

/* line 101, ../../Arafath/CL/December/233. Startup/HTML/scss/_elements.scss */
h3 {
  font-size: 24px;
}

/* line 105, ../../Arafath/CL/December/233. Startup/HTML/scss/_elements.scss */
h4 {
  font-size: 18px;
}

/* line 109, ../../Arafath/CL/December/233. Startup/HTML/scss/_elements.scss */
h5 {
  font-size: 16px;
}

/* line 113, ../../Arafath/CL/December/233. Startup/HTML/scss/_elements.scss */
h6 {
  font-size: 14px;
}

/* line 117, ../../Arafath/CL/December/233. Startup/HTML/scss/_elements.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

/* line 127, ../../Arafath/CL/December/233. Startup/HTML/scss/_elements.scss */
.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  color: #828bb2;
}

/*# sourceMappingURL=style.css.map */